#board {
    display: flex;
    background-color: #2980b9;
    padding: 8px;
    height: 100vh;
    margin-top: 60px;
    overflow-x: scroll;
    align-items: flex-start;
}
.cardlist{
    background: #52BBFF;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 20px;
    width: 250px;
    padding: 12px;
    height: auto;
    float: left;
    opacity: 0.9;
    color: white;
    position: relative;
}
.cardlist h4{
    color: white;
}
.card{
    background: #fafafa;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 8px;
    position: relative;
    min-height: 50px;
    color: black;
}
.newcard{
    color: #F5F5F5;
}
.newcard:hover{
    color: #0D47A1;
}
.cardarea{
   background: #fafafa;
   width: 93%;
   padding: 8px;
   border-radius: 5px;
   margin-bottom: 10px;
   border: 1px solid transparent;
}
.done{
    display: inline-block;
    border: 1px solid transparent;
    background-color: green;
    color: white;
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
}
.cancel{
    display: inline;
    border: 1px solid transparent;
    background-color: red;
    color: white;
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    margin-left: 10px;
}
.save{
    display: block;
    border: 1px solid transparent;
    background-color: green;
    color: white;
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 20px;
}

.fa-pencil-square-o{
    position: absolute;
    top: 10px;
    left: 230px;
}
.fa-trash-o{
    position: absolute;
    bottom: 10px;
    left: 230px;
}
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
  background-color: #52BBFF;
}
.fixed-nav-bar p{
    color: white;
    text-align: center;
    font-size: 32px;
    margin: 10px 0;
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
}
::selection {
  background: #ffb7b7;
}
::-moz-selection {
  background: #ffb7b7;
}
.listDel{
    position: absolute;
    top: 32px;
    left: 244px;
}
.myModal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #52BBFF;
    color: white;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
    position: relative;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
.close{
    font-size: 36px;
    position: absolute;
    top: 12px;
    right: 20px;
    cursor: default;
}
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    margin-top: 200px;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
